<p>Contextual Administration's user interface will be very familiar to you if you're used to utilizing panels at all.  For the unintiated, Page Manager (the tool that both panels and context_admin use to place content on a particular page) makes use of a number of tools provided by ctools to do the work it does.  The primary one of these you'll utilize in the user interface is the form wizard.  The form wizard for page_manager consists of a number of step to accomplish various bite-sized tasks.  The first of these is the "Add custom page" definition.</p>

<h3>Pages</h3>
<p>Custom pages are at the heart of the power of Page Manager.  They allow for you to pick arbitrary paths to place various types of content.  To start your first custom page you can visit the <a href="&base_url&admin/build/pages">Pages administration section</a> or shortcut straight to the <a href="&base_url&admin/build/pages/add">Add custom page</a> form.</p>
<p>Once on the add custom page form, you'll be required to fill out a number of various fields.  Most of these fields are pretty self explanitory, so I'll just draw your attention to the bottom of the page.  Firstly, look at the "variant type" field.  Variant type is going to define our starting variant (a topic we'll cover in some depth later).  For our purposes, we'll obviously be utilizing a context admin variant.  As other variant types become available to you, you'll notice that by selecting between them, different options show up directly under that form element.  We're going to select "Access control" and "Visible menu item" before hitting continue."</p>
<p>Both of these options are going to be injected into the form wizard that follows.  They will allow us to define WHEN the menu item is available and WHERE it is available.  We'll cover these in more detail later.</p>

<h3>The Form Wizard</h3>
<p>The Page Manager form wizard is the next major step.  It actually steps you through a series of configuration screens that will ultimately define the first "variant" of your page.  As we selected the two options in the previous screen these configuration steps will be injected into the wizard for us to configure before the page is ever saved.</p>
